@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:100,200,300,regular,500,600,700,800,900);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Urbanist', sans-serif;
}
:root{
    --bs-dark-color:#1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-colors:#29a9fd;
    --bs-supportig-color:#C850C0;
}
html , body{
    min-height: 100%;
     min-width: 100%;
 }
h1,h2,h3,h4,h5{
    font-family:'Lexend Deca', sans-serif;
    color:var(--bs-dark-color);
}
h1{
    font-size:3.8rem;

}
h2{
    line-height:3rem;
    font-weight:600;
    font-size:3.4rem;
}
p{
    font-weight: 400;
    font-size:1rem;
    color:var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height:1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}
li{
    list-style:none;
}
/* navbar style */
.nav-link{
    color:var(--bs-main-color)!important;
}
button,a {
    font-size:1.15rem !important;
    letter-spacing:0.03rem;
    word-spacing: .1rem;
}
/* hero section start */
.bg-main{
    height:80vh;
    position:relative;
}
.hero-video--section{
    max-width: 100%;
    height:auto;
    width:40rem;
    border-radius:2rem;
}
.hero-section .container{
    display:grid;
    place-content: center;
    height:inherit;
}
.common-heading{
    font-size:2.8rem;
    font-weight:500;
    letter-spacing:0.01rem !important;
}
.common-title{
    margin-bottom:4.2rem;
}
.bg-color{
    background-color: var(--bs-dark-primary);
}
.text-light-grey{
    color:var(--bs-primary-color);
}
.common-section{
    padding:0 0 9rem 0;
}
/* .bg-theme{
    color:var(--bs-supportig-color);
    background-color: none !important;
} */
.custom-shape-divider-bottom-1720421395 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720421395 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 42px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1720421395 .shape-fill {
    fill: #FFFFFF;
}

/* services section */
.services-section{
    padding:6rem 0 3rem 0 !important;
}
.icon-span{
    width:2.5rem;
    height:2.5rem;
    background-color: var(--secondary-colors);
    color:var(--bs-main-color);
}
.card-box:hover{
    box-shadow:rgba(149,157,165,0.2) 0 8px 24px;
}
/* more-info-section */
.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.7),rgba(22,22,22,0.9)),url('https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:6rem 0;
    overflow:hidden;
}

.more-info-section .img-section img{
    width:70%;
}
/* online mode styling */
.business-section{
    padding-top:3rem;
}
/* carousel sytling */
.carousel .card{
    background-color: #262631;
    color:var(--bs-main-color);
    transition:all 0.3s linear;

}
.carousel-inner .card P{
    color:var(--bs-main-color);
}
.carousel-inner .card:hover{
    background-color: var(--bs-main-color);
    color:var(--bs-dark-color);
}
.carousel-inner .card:hover p{
    color:var(--bs-dark-color);
}

.fa-star{
    color:var(--bs-supportig-color);
}
.carousel-indicators{
    bottom:-20%;
}
/* styling of card part */

.card-body i{
 margin-top: 5px;
}        